pipeline/PL_Incremental_CRM_Ingestion.json
{
	"name": "PL_Incremental_CRM_Ingestion",
	"properties": {
		"description": "Incremental CRM pipeline using SQL watermark with filtered JSON ingestion",
		"activities": [
			{
				"name": "LKP_Read_CRM_Config",
				"description": "Read CRM config file from ADLS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SET_Current_Timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_Config_JSON",
						"type": "DatasetReference",
						"parameters": {
							"configFileName": "crm_config.json"
						}
					}
				}
			},
			{
				"name": "FE_Process_CRM_Files",
				"description": "Loop through CRM files and copy in parallel",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_Read_CRM_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_Read_CRM_Config').output.firstRow.files",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "CP_Copy_File",
							"description": "Copy JSON to Parquet dynamically",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": {
											"value": "@activity('LKP_Read_SQL_Watermark').output.firstRow.last_run_timestamp",
											"type": "Expression"
										},
										"modifiedDatetimeEnd": {
											"value": "@variables('CurrentTimestamp')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_JSON_Parameterized",
									"type": "DatasetReference",
									"parameters": {
										"containerName": {
											"value": "@item().source_container",
											"type": "Expression"
										},
										"folderPath": {
											"value": "@item().source_folder",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().source_file",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Parquet_Parameterized",
									"type": "DatasetReference",
									"parameters": {
										"containerName": {
											"value": "@item().target_container",
											"type": "Expression"
										},
										"folderPath": {
											"value": "@item().target_folder",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().target_file",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LKP_Read_SQL_Watermark",
				"description": "Read CRM watermark timestamp from SQL database",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT last_run_timestamp \nFROM dbo.pipeline_watermark \nWHERE source_name = 'CRM'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Watermark_Table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET_Current_Timestamp",
				"description": "Capture current UTC timestamp for watermark update",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LKP_Read_SQL_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentTimestamp",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_Update_Watermark",
				"description": "Update CRM watermark in SQL database after successful processing",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FE_Process_CRM_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_UpdateWatermark]",
					"storedProcedureParameters": {
						"FilesProcessed": {
							"value": {
								"value": "@length(activity('LKP_Read_CRM_Config').output.firstRow.files)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"NewTimestamp": {
							"value": {
								"value": "@variables('CurrentTimestamp')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"SourceName": {
							"value": "CRM",
							"type": "String"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_Metadata",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"CurrentTimestamp": {
				"type": "String"
			}
		},
		"annotations": []
	}
}